.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-image: url(https://wallpapers.com/images/hd/uefa-champions-league-star-football-logo-8dv90jbvwwhzp9c0.jpg);
  background-size:cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  }
  .container__list {
  list-style-type: none;
  padding: 0;
  text-align: center;
  }
  
  .list {
  margin-bottom: 5px;
  }
  .title {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid rgb(3, 255, 95);
  }
  .nameclub {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid rgb(3, 255, 95);
  }
  